@model IEnumerable<HotBooks.Models.Room>

@{
    ViewData["Title"] = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rooms</h1>

<p>
    <a asp-action="Create">Create New Room</a>
</p>
<table class="table table-striped table-hover sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfBed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutRoom)
            </td>
            <td>
                @if (item.Image != null)
                {
                    <img src="~/img/room-uploads/@item.Image" alt="Room Image" class="thumb" />
                }
                else 
                {
                  
                   <img src="~/img/room-uploads/placeholder.jpg" alt="Placeholder Image" class="thumb" />
               
                }

            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
