@model HotBooks.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfBed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfBed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AboutRoom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Image != null)
            {
                <img class="thumb" src="~/img/room-uploads/@Model.Image" alt="Room Image">}
            else
            {<img class="thumb" src="~/img/room-uploads/placeholder.jpg" alt="Placeholder Image">}
        </dd>

    </dl>
    <form method="post" asp-controller="Book" asp-action="AddToBookList" class=" = offset-sm-2">
        <input name="RoomId" id="RoomId" type="hidden" value="@Model.Id" />
        <fieldset class="form-group">
        </fieldset>
        <button class="btn btn-primary">Add to BookList</button>
    </form>
</div>
<div>
    <a href="javascript:history.go(-1);">Back to List</a>
</div>
